In [16]:
import pandas as pd

In [17]:
import json
with open('strapi-admin-panel.basic_analyses.json') as outf:
    df=json.load(outf)

In [18]:
df1=pd.DataFrame.from_dict(df)
df1.head()

,_id,testId,userId,isBonusAttempted,sections,subjects,totalTimeTaken,totalMarkScored,totalAttempted,totalCorrect,accuracy,submittedAt,__v
0,{'$oid': '626ab9ea24905064ba37bd34'},{'$oid': '6242de22af9dd6d0f5e0aee7'},{'$oid': '625e645cefa6f45a6d242f41'},False,"[{'_id': {'$oid': '626ab9ea24905064ba37bd35'},...","[{'_id': {'$oid': '626ab9ea24905064ba37bd75'},...",78,5.0,10,4,40.000000,{'$date': '2022-04-28T15:59:38.654Z'},0
1,{'$oid': '626f8759783460b593e5e7d0'},{'$oid': '6242de22af9dd6d0f5e0aee9'},{'$oid': '60767d3fa86f753846145692'},False,"[{'_id': {'$oid': '626f8759783460b593e5e7d1'},...","[{'_id': {'$oid': '626f8759783460b593e5e814'},...",303,-0.5,13,2,15.384615,{'$date': '2022-05-02T07:25:13.257Z'},0
2,{'$oid': '626f87f8783460b593e5e8d0'},{'$oid': '6242de22af9dd6d0f5e0aee7'},{'$oid': '60767d3fa86f753846145692'},False,"[{'_id': {'$oid': '626f87f8783460b593e5e8d1'},...","[{'_id': {'$oid': '626f87f8783460b593e5e918'},...",112,-3.5,17,2,11.764706,{'$date': '2022-05-02T07:27:52.973Z'},0
3,{'$oid': '626f9b43d1872602514e4618'},{'$oid': '61923f2ad42d105914c0ee67'},{'$oid': '60c859a597812656fc783f13'},False,"[{'_id': {'$oid': '626f9b43d1872602514e4619'},...","[{'_id': {'$oid': '626f9b43d1872602514e467a'},...",1,4.0,1,1,100.000000,{'$date': '2022-05-02T08:50:11.853Z'},0
4,{'$oid': '6270fd16ab73fe1ec7acc623'},{'$oid': '614dd5dda0282649c036e79f'},{'$oid': '60767d3fa86f753846145692'},False,"[{'_id': {'$oid': '6270fd16ab73fe1ec7acc624'},...","[{'_id': {'$oid': '6270fd16ab73fe1ec7acc68e'},...",463,5.0,10,3,30.000000,{'$date': '2022-05-03T09:59:50.860Z'},0

In [19]:
df1.shape

(156, 13)

In [20]:
df1['_id1']=df1['_id'].apply(lambda x:x.get('$oid'))
df1.head()

,_id,testId,userId,isBonusAttempted,sections,subjects,totalTimeTaken,totalMarkScored,totalAttempted,totalCorrect,accuracy,submittedAt,__v,_id1
0,{'$oid': '626ab9ea24905064ba37bd34'},{'$oid': '6242de22af9dd6d0f5e0aee7'},{'$oid': '625e645cefa6f45a6d242f41'},False,"[{'_id': {'$oid': '626ab9ea24905064ba37bd35'},...","[{'_id': {'$oid': '626ab9ea24905064ba37bd75'},...",78,5.0,10,4,40.000000,{'$date': '2022-04-28T15:59:38.654Z'},0,626ab9ea24905064ba37bd34
1,{'$oid': '626f8759783460b593e5e7d0'},{'$oid': '6242de22af9dd6d0f5e0aee9'},{'$oid': '60767d3fa86f753846145692'},False,"[{'_id': {'$oid': '626f8759783460b593e5e7d1'},...","[{'_id': {'$oid': '626f8759783460b593e5e814'},...",303,-0.5,13,2,15.384615,{'$date': '2022-05-02T07:25:13.257Z'},0,626f8759783460b593e5e7d0
2,{'$oid': '626f87f8783460b593e5e8d0'},{'$oid': '6242de22af9dd6d0f5e0aee7'},{'$oid': '60767d3fa86f753846145692'},False,"[{'_id': {'$oid': '626f87f8783460b593e5e8d1'},...","[{'_id': {'$oid': '626f87f8783460b593e5e918'},...",112,-3.5,17,2,11.764706,{'$date': '2022-05-02T07:27:52.973Z'},0,626f87f8783460b593e5e8d0
3,{'$oid': '626f9b43d1872602514e4618'},{'$oid': '61923f2ad42d105914c0ee67'},{'$oid': '60c859a597812656fc783f13'},False,"[{'_id': {'$oid': '626f9b43d1872602514e4619'},...","[{'_id': {'$oid': '626f9b43d1872602514e467a'},...",1,4.0,1,1,100.000000,{'$date': '2022-05-02T08:50:11.853Z'},0,626f9b43d1872602514e4618
4,{'$oid': '6270fd16ab73fe1ec7acc623'},{'$oid': '614dd5dda0282649c036e79f'},{'$oid': '60767d3fa86f753846145692'},False,"[{'_id': {'$oid': '6270fd16ab73fe1ec7acc624'},...","[{'_id': {'$oid': '6270fd16ab73fe1ec7acc68e'},...",463,5.0,10,3,30.000000,{'$date': '2022-05-03T09:59:50.860Z'},0,6270fd16ab73fe1ec7acc623

In [21]:
df1['testid1']=df1['testId'].apply(lambda x:x.get('$oid'))
df1.head()

,_id,testId,userId,isBonusAttempted,sections,subjects,totalTimeTaken,totalMarkScored,totalAttempted,totalCorrect,accuracy,submittedAt,__v,_id1,testid1
0,{'$oid': '626ab9ea24905064ba37bd34'},{'$oid': '6242de22af9dd6d0f5e0aee7'},{'$oid': '625e645cefa6f45a6d242f41'},False,"[{'_id': {'$oid': '626ab9ea24905064ba37bd35'},...","[{'_id': {'$oid': '626ab9ea24905064ba37bd75'},...",78,5.0,10,4,40.000000,{'$date': '2022-04-28T15:59:38.654Z'},0,626ab9ea24905064ba37bd34,6242de22af9dd6d0f5e0aee7
1,{'$oid': '626f8759783460b593e5e7d0'},{'$oid': '6242de22af9dd6d0f5e0aee9'},{'$oid': '60767d3fa86f753846145692'},False,"[{'_id': {'$oid': '626f8759783460b593e5e7d1'},...","[{'_id': {'$oid': '626f8759783460b593e5e814'},...",303,-0.5,13,2,15.384615,{'$date': '2022-05-02T07:25:13.257Z'},0,626f8759783460b593e5e7d0,6242de22af9dd6d0f5e0aee9
2,{'$oid': '626f87f8783460b593e5e8d0'},{'$oid': '6242de22af9dd6d0f5e0aee7'},{'$oid': '60767d3fa86f753846145692'},False,"[{'_id': {'$oid': '626f87f8783460b593e5e8d1'},...","[{'_id': {'$oid': '626f87f8783460b593e5e918'},...",112,-3.5,17,2,11.764706,{'$date': '2022-05-02T07:27:52.973Z'},0,626f87f8783460b593e5e8d0,6242de22af9dd6d0f5e0aee7
3,{'$oid': '626f9b43d1872602514e4618'},{'$oid': '61923f2ad42d105914c0ee67'},{'$oid': '60c859a597812656fc783f13'},False,"[{'_id': {'$oid': '626f9b43d1872602514e4619'},...","[{'_id': {'$oid': '626f9b43d1872602514e467a'},...",1,4.0,1,1,100.000000,{'$date': '2022-05-02T08:50:11.853Z'},0,626f9b43d1872602514e4618,61923f2ad42d105914c0ee67
4,{'$oid': '6270fd16ab73fe1ec7acc623'},{'$oid': '614dd5dda0282649c036e79f'},{'$oid': '60767d3fa86f753846145692'},False,"[{'_id': {'$oid': '6270fd16ab73fe1ec7acc624'},...","[{'_id': {'$oid': '6270fd16ab73fe1ec7acc68e'},...",463,5.0,10,3,30.000000,{'$date': '2022-05-03T09:59:50.860Z'},0,6270fd16ab73fe1ec7acc623,614dd5dda0282649c036e79f

In [22]:
df1['userid1']=df1['userId'].apply(lambda x:x.get('$oid'))
df1.head()

,_id,testId,userId,isBonusAttempted,sections,subjects,totalTimeTaken,totalMarkScored,totalAttempted,totalCorrect,accuracy,submittedAt,__v,_id1,testid1,userid1
0,{'$oid': '626ab9ea24905064ba37bd34'},{'$oid': '6242de22af9dd6d0f5e0aee7'},{'$oid': '625e645cefa6f45a6d242f41'},False,"[{'_id': {'$oid': '626ab9ea24905064ba37bd35'},...","[{'_id': {'$oid': '626ab9ea24905064ba37bd75'},...",78,5.0,10,4,40.000000,{'$date': '2022-04-28T15:59:38.654Z'},0,626ab9ea24905064ba37bd34,6242de22af9dd6d0f5e0aee7,625e645cefa6f45a6d242f41
1,{'$oid': '626f8759783460b593e5e7d0'},{'$oid': '6242de22af9dd6d0f5e0aee9'},{'$oid': '60767d3fa86f753846145692'},False,"[{'_id': {'$oid': '626f8759783460b593e5e7d1'},...","[{'_id': {'$oid': '626f8759783460b593e5e814'},...",303,-0.5,13,2,15.384615,{'$date': '2022-05-02T07:25:13.257Z'},0,626f8759783460b593e5e7d0,6242de22af9dd6d0f5e0aee9,60767d3fa86f753846145692
2,{'$oid': '626f87f8783460b593e5e8d0'},{'$oid': '6242de22af9dd6d0f5e0aee7'},{'$oid': '60767d3fa86f753846145692'},False,"[{'_id': {'$oid': '626f87f8783460b593e5e8d1'},...","[{'_id': {'$oid': '626f87f8783460b593e5e918'},...",112,-3.5,17,2,11.764706,{'$date': '2022-05-02T07:27:52.973Z'},0,626f87f8783460b593e5e8d0,6242de22af9dd6d0f5e0aee7,60767d3fa86f753846145692
3,{'$oid': '626f9b43d1872602514e4618'},{'$oid': '61923f2ad42d105914c0ee67'},{'$oid': '60c859a597812656fc783f13'},False,"[{'_id': {'$oid': '626f9b43d1872602514e4619'},...","[{'_id': {'$oid': '626f9b43d1872602514e467a'},...",1,4.0,1,1,100.000000,{'$date': '2022-05-02T08:50:11.853Z'},0,626f9b43d1872602514e4618,61923f2ad42d105914c0ee67,60c859a597812656fc783f13
4,{'$oid': '6270fd16ab73fe1ec7acc623'},{'$oid': '614dd5dda0282649c036e79f'},{'$oid': '60767d3fa86f753846145692'},False,"[{'_id': {'$oid': '6270fd16ab73fe1ec7acc624'},...","[{'_id': {'$oid': '6270fd16ab73fe1ec7acc68e'},...",463,5.0,10,3,30.000000,{'$date': '2022-05-03T09:59:50.860Z'},0,6270fd16ab73fe1ec7acc623,614dd5dda0282649c036e79f,60767d3fa86f753846145692

In [23]:
df1.drop(['_id','userId','testId'],axis=1,inplace=True)
df1.head()

,isBonusAttempted,sections,subjects,totalTimeTaken,totalMarkScored,totalAttempted,totalCorrect,accuracy,submittedAt,__v,_id1,testid1,userid1
0,False,"[{'_id': {'$oid': '626ab9ea24905064ba37bd35'},...","[{'_id': {'$oid': '626ab9ea24905064ba37bd75'},...",78,5.0,10,4,40.000000,{'$date': '2022-04-28T15:59:38.654Z'},0,626ab9ea24905064ba37bd34,6242de22af9dd6d0f5e0aee7,625e645cefa6f45a6d242f41
1,False,"[{'_id': {'$oid': '626f8759783460b593e5e7d1'},...","[{'_id': {'$oid': '626f8759783460b593e5e814'},...",303,-0.5,13,2,15.384615,{'$date': '2022-05-02T07:25:13.257Z'},0,626f8759783460b593e5e7d0,6242de22af9dd6d0f5e0aee9,60767d3fa86f753846145692
2,False,"[{'_id': {'$oid': '626f87f8783460b593e5e8d1'},...","[{'_id': {'$oid': '626f87f8783460b593e5e918'},...",112,-3.5,17,2,11.764706,{'$date': '2022-05-02T07:27:52.973Z'},0,626f87f8783460b593e5e8d0,6242de22af9dd6d0f5e0aee7,60767d3fa86f753846145692
3,False,"[{'_id': {'$oid': '626f9b43d1872602514e4619'},...","[{'_id': {'$oid': '626f9b43d1872602514e467a'},...",1,4.0,1,1,100.000000,{'$date': '2022-05-02T08:50:11.853Z'},0,626f9b43d1872602514e4618,61923f2ad42d105914c0ee67,60c859a597812656fc783f13
4,False,"[{'_id': {'$oid': '6270fd16ab73fe1ec7acc624'},...","[{'_id': {'$oid': '6270fd16ab73fe1ec7acc68e'},...",463,5.0,10,3,30.000000,{'$date': '2022-05-03T09:59:50.860Z'},0,6270fd16ab73fe1ec7acc623,614dd5dda0282649c036e79f,60767d3fa86f753846145692

In [24]:
df1['userid1'].nunique()

23

In [25]:
df1['testid1'].nunique()

107

In [26]:
a=df1['userid1'].drop_duplicates()

In [27]:
a

0      625e645cefa6f45a6d242f41
1      60767d3fa86f753846145692
3      60c859a597812656fc783f13
8      639b0819dd54ec28a1a32c7c
9      621e507604540e207ea790e1
47     6299e0341eaa0318fc98370e
65     61a63a836eae089191c6a71a
77     60e2b39e566129478143c10c
78     6336a211d650b0115cc1efaa
79     6336d2d9d650b0115cc1f2d4
80     6336d3dcd650b0115cc1f421
81     62319d3d599b7f5f5ad80da4
89     637efcb5986f5b98e56ae309
92     637c66d9a1931b2464a2f9cc
93     637366741d2350364f069a41
95     641ab7f84e6d46b1d397f3b3
96     641b51fd4e6d46b1d397f864
97     641b591b4e6d46b1d397f9f9
98     637249eb0bff3e0fa490c01a
101    664dec71ad0879bdb974a83a
104    66504499ad0879bdb974d6a0
105    66503de1ad0879bdb974d5d8
119    6651b837ad0879bdb9756b2d
Name: userid1, dtype: object

In [28]:
df1['testid1'].nunique()

107