In [2]:
import pandas as pd

In [3]:
import json
with open('strapi-admin-panel.sections.json') as outf:
    d=json.load(outf)

In [4]:
df1=pd.DataFrame.from_dict(d)
df1.head()

,_id,sectionType,questions,title,description,subject,instruction,markingScheme,maximumAttemptLimit,__v,updatedAt,updated_by,isPartialMarkingEnabled,linkedQuestions,createdAt
0,{'$oid': '60e2fb3f66f9ce3f243b4eee'},normal,"[{'$oid': '60e2fb3e66f9ce3f243b4eba'}, {'$oid'...",Mathematics Category 3,Mathematics Mock 3 Paper 1 Category 3,{'$oid': '607018ee404ae53194e73d92'},{'$oid': '60e29b841fd216c5033ce983'},{'$oid': '60deac09c43c1bff47ac2d13'},10,0,NaN,NaN,NaN,NaN,NaN
1,{'$oid': '60e2fbc266f9ce3f243b5638'},normal,"[{'$oid': '60e2fbc266f9ce3f243b5604'}, {'$oid'...",Mathematics Category 3,Mathematics Mock 5 Paper 1 Category 3,{'$oid': '607018ee404ae53194e73d92'},{'$oid': '60e29b841fd216c5033ce983'},{'$oid': '60deac09c43c1bff47ac2d13'},10,0,NaN,NaN,NaN,NaN,NaN
2,{'$oid': '60cefba7185d7a32fa319f83'},NaN,"[{'$oid': '60cefba7185d7a32fa319ef4'}, {'$oid'...",Chemistry Numerical,Chemistry Draft 2 Numerical,{'$oid': '607018ee404ae53194e73d91'},{'$oid': '608d73e3e0c9bb53e700cbe4'},{'$oid': '608283c623cf4b3ad8f125e5'},6,0,NaN,NaN,NaN,NaN,NaN
3,{'$oid': '60d3035faf049203d85367bb'},NaN,"[{'$oid': '60d3035faf049203d8536795'}, {'$oid'...",Mathematics Single Correct,Mathematics Draft 2 Single Correct,{'$oid': '607018ee404ae53194e73d92'},{'$oid': '608d73e3e0c9bb53e700cbe4'},{'$oid': '608d6c2e1ff13bf6c16028bc'},6,0,NaN,NaN,NaN,NaN,NaN
4,{'$oid': '60e56817499d1e49588fa6dc'},bonus,"[{'$oid': '60e56817499d1e49588fa6af'}, {'$oid'...",Chemistry Bonus,Chemistry BITSAT 2011 Paper Draft Single Correct,{'$oid': '607018ee404ae53194e73d91'},{'$oid': '60e401b5bdcce2a716a57295'},{'$oid': '60701427ddc3222c08cee166'},4,0,NaN,NaN,NaN,NaN,NaN

In [5]:
df1['markingscheme1']=df1['markingScheme'].apply(lambda x:x.get('$oid'))
df1.drop('markingScheme',axis=1,inplace=True)
df1.head()

,_id,sectionType,questions,title,description,subject,instruction,maximumAttemptLimit,__v,updatedAt,updated_by,isPartialMarkingEnabled,linkedQuestions,createdAt,markingscheme1
0,{'$oid': '60e2fb3f66f9ce3f243b4eee'},normal,"[{'$oid': '60e2fb3e66f9ce3f243b4eba'}, {'$oid'...",Mathematics Category 3,Mathematics Mock 3 Paper 1 Category 3,{'$oid': '607018ee404ae53194e73d92'},{'$oid': '60e29b841fd216c5033ce983'},10,0,NaN,NaN,NaN,NaN,NaN,60deac09c43c1bff47ac2d13
1,{'$oid': '60e2fbc266f9ce3f243b5638'},normal,"[{'$oid': '60e2fbc266f9ce3f243b5604'}, {'$oid'...",Mathematics Category 3,Mathematics Mock 5 Paper 1 Category 3,{'$oid': '607018ee404ae53194e73d92'},{'$oid': '60e29b841fd216c5033ce983'},10,0,NaN,NaN,NaN,NaN,NaN,60deac09c43c1bff47ac2d13
2,{'$oid': '60cefba7185d7a32fa319f83'},NaN,"[{'$oid': '60cefba7185d7a32fa319ef4'}, {'$oid'...",Chemistry Numerical,Chemistry Draft 2 Numerical,{'$oid': '607018ee404ae53194e73d91'},{'$oid': '608d73e3e0c9bb53e700cbe4'},6,0,NaN,NaN,NaN,NaN,NaN,608283c623cf4b3ad8f125e5
3,{'$oid': '60d3035faf049203d85367bb'},NaN,"[{'$oid': '60d3035faf049203d8536795'}, {'$oid'...",Mathematics Single Correct,Mathematics Draft 2 Single Correct,{'$oid': '607018ee404ae53194e73d92'},{'$oid': '608d73e3e0c9bb53e700cbe4'},6,0,NaN,NaN,NaN,NaN,NaN,608d6c2e1ff13bf6c16028bc
4,{'$oid': '60e56817499d1e49588fa6dc'},bonus,"[{'$oid': '60e56817499d1e49588fa6af'}, {'$oid'...",Chemistry Bonus,Chemistry BITSAT 2011 Paper Draft Single Correct,{'$oid': '607018ee404ae53194e73d91'},{'$oid': '60e401b5bdcce2a716a57295'},4,0,NaN,NaN,NaN,NaN,NaN,60701427ddc3222c08cee166

In [6]:
df1.shape

(7094, 15)

In [7]:
df1.drop(['instruction','__v'],axis=1,inplace=True)

In [8]:
da=df1[~df1['updatedAt'].isna()]

In [9]:
da.shape

(4199, 13)

In [10]:
df1.drop(['updatedAt','updated_by'],axis=1,inplace=True)
df1.head()

,_id,sectionType,questions,title,description,subject,maximumAttemptLimit,isPartialMarkingEnabled,linkedQuestions,createdAt,markingscheme1
0,{'$oid': '60e2fb3f66f9ce3f243b4eee'},normal,"[{'$oid': '60e2fb3e66f9ce3f243b4eba'}, {'$oid'...",Mathematics Category 3,Mathematics Mock 3 Paper 1 Category 3,{'$oid': '607018ee404ae53194e73d92'},10,NaN,NaN,NaN,60deac09c43c1bff47ac2d13
1,{'$oid': '60e2fbc266f9ce3f243b5638'},normal,"[{'$oid': '60e2fbc266f9ce3f243b5604'}, {'$oid'...",Mathematics Category 3,Mathematics Mock 5 Paper 1 Category 3,{'$oid': '607018ee404ae53194e73d92'},10,NaN,NaN,NaN,60deac09c43c1bff47ac2d13
2,{'$oid': '60cefba7185d7a32fa319f83'},NaN,"[{'$oid': '60cefba7185d7a32fa319ef4'}, {'$oid'...",Chemistry Numerical,Chemistry Draft 2 Numerical,{'$oid': '607018ee404ae53194e73d91'},6,NaN,NaN,NaN,608283c623cf4b3ad8f125e5
3,{'$oid': '60d3035faf049203d85367bb'},NaN,"[{'$oid': '60d3035faf049203d8536795'}, {'$oid'...",Mathematics Single Correct,Mathematics Draft 2 Single Correct,{'$oid': '607018ee404ae53194e73d92'},6,NaN,NaN,NaN,608d6c2e1ff13bf6c16028bc
4,{'$oid': '60e56817499d1e49588fa6dc'},bonus,"[{'$oid': '60e56817499d1e49588fa6af'}, {'$oid'...",Chemistry Bonus,Chemistry BITSAT 2011 Paper Draft Single Correct,{'$oid': '607018ee404ae53194e73d91'},4,NaN,NaN,NaN,60701427ddc3222c08cee166

In [11]:
df1['_id1']=df1['_id'].apply(lambda x:x.get('$oid'))
df1.head()

,_id,sectionType,questions,title,description,subject,maximumAttemptLimit,isPartialMarkingEnabled,linkedQuestions,createdAt,markingscheme1,_id1
0,{'$oid': '60e2fb3f66f9ce3f243b4eee'},normal,"[{'$oid': '60e2fb3e66f9ce3f243b4eba'}, {'$oid'...",Mathematics Category 3,Mathematics Mock 3 Paper 1 Category 3,{'$oid': '607018ee404ae53194e73d92'},10,NaN,NaN,NaN,60deac09c43c1bff47ac2d13,60e2fb3f66f9ce3f243b4eee
1,{'$oid': '60e2fbc266f9ce3f243b5638'},normal,"[{'$oid': '60e2fbc266f9ce3f243b5604'}, {'$oid'...",Mathematics Category 3,Mathematics Mock 5 Paper 1 Category 3,{'$oid': '607018ee404ae53194e73d92'},10,NaN,NaN,NaN,60deac09c43c1bff47ac2d13,60e2fbc266f9ce3f243b5638
2,{'$oid': '60cefba7185d7a32fa319f83'},NaN,"[{'$oid': '60cefba7185d7a32fa319ef4'}, {'$oid'...",Chemistry Numerical,Chemistry Draft 2 Numerical,{'$oid': '607018ee404ae53194e73d91'},6,NaN,NaN,NaN,608283c623cf4b3ad8f125e5,60cefba7185d7a32fa319f83
3,{'$oid': '60d3035faf049203d85367bb'},NaN,"[{'$oid': '60d3035faf049203d8536795'}, {'$oid'...",Mathematics Single Correct,Mathematics Draft 2 Single Correct,{'$oid': '607018ee404ae53194e73d92'},6,NaN,NaN,NaN,608d6c2e1ff13bf6c16028bc,60d3035faf049203d85367bb
4,{'$oid': '60e56817499d1e49588fa6dc'},bonus,"[{'$oid': '60e56817499d1e49588fa6af'}, {'$oid'...",Chemistry Bonus,Chemistry BITSAT 2011 Paper Draft Single Correct,{'$oid': '607018ee404ae53194e73d91'},4,NaN,NaN,NaN,60701427ddc3222c08cee166,60e56817499d1e49588fa6dc

In [12]:
df1[df1['_id1']=='626a8f31901c260c2e4bd53a']

,_id,sectionType,questions,title,description,subject,maximumAttemptLimit,isPartialMarkingEnabled,linkedQuestions,createdAt,markingscheme1,_id1
3578,{'$oid': '626a8f31901c260c2e4bd53a'},normal,"[{'$oid': '626a8f31901c260c2e4bd4d8'}, {'$oid'...",Arithmetic and Basic PCM,NaN,{'$oid': '6242e425d0af040016422787'},19,NaN,"[{'_id': {'$oid': '626a8fa0901c260c2e4bdd75'},...",{'$date': '2022-04-28T12:57:21.308Z'},6260da4b4f0e440016b0e371,626a8f31901c260c2e4bd53a